.body{background:none;}

.border-top{border-top:1px;}
.border-bot{border-bottom:1px;}
.border-rig{border-right:1px;}
.p{font-family:arial;font-weight:bold;}
.a{text-decoration:none;}

.span{font-size:10px;}

.div{width:100px;height:100px;}
